<div class="header">
  <div class="header__container">
    <div class="header__left">
      <ul class="header__list">
        <li class="header__item">
          <a href="" class="header__link">
            Обучение
          </a>
        </li>
        <li class="header__item">
          <a href="" class="header__link">
            Тренера
          </a>
        </li>
      </ul>
    </div>
    <div class="header__right">
      <ul class="header__list">
        <li class="header__item">
          <a href="" class="header__link">Контакты</a>
        </li>
        <li class="header__item">
          <button
            mat-raised-button
            color="accent"
            class="header__link"
            (click)="openLoginForm()"
          >
            Вход
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
